<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Desarrolo web</h1><h3>(11/2021 - Actualidad)</h3>Desarrollo web full stack</li>
            <p>Proyecto realizado para inmobiliaria de la ciudad de Neuquén actualmente en funcionamiento<br>
                <a href="http://oficina603.com/">oficina603.com</a></p>

        </ul>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Desarrollo web</h1><h3>(02/2022)</h3>Mantenimiento y actualización</li>
            <p>Trabajo de mantenimiento y actualización de sitio web funcionamiento <br>
                <a href="https://www.alfradsas.com/">alfradsas.com</a></p>
        </ul>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Web scraping</h1>
                <h3>(02/2022)</h3>Operario Calificado
            </li>
            <p>Pequeños proyectos de web scraping realizados con python<br></p>
                <ul>
                    <li><a href="https://github.com/Mar7inez/WebScraping">Dolar</a></li>
                    <li><a  href="https://github.com/Mar7inez/WebScraping">Titulares de noticias</a></li>
                </ul>
            
        </ul>
    </div>
</div>