<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Educacion IT</h1><h3>(2021 - Actualidad)</h3>Desarrollador web full stack (380hs)</li>
            <p>Desarrollo de software Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta at ut suscipit impedit repudiandae illo totam reiciendis. Ad, voluptas, aperiam adipisci expedita assumenda nihil, repudiandae deserunt illo sunt saepe inventore!</p>
        </ul>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Argentina Programa</h1><h3>(2021)</h3>#YoProgramop - 1er Etapa</li>
            <p>Desarrollo de software Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta at ut suscipit impedit repudiandae illo totam reiciendis. Ad, voluptas, aperiam adipisci expedita assumenda nihil, repudiandae deserunt illo sunt saepe inventore!</p>
        </ul>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><img src="../../../assets/logoEdu.png">Educacion IT</h1><h3>(2020)</h3>Marketing Digital (100hs)</li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta at ut suscipit impedit repudiandae illo totam reiciendis. Ad, voluptas, aperiam adipisci expedita assumenda nihil, repudiandae deserunt illo sunt saepe inventore!</p>
        </ul>
    </div>
</div>


