<!-- Hard skills -->

<!-- frontend -->

<div class="row">
    <H1>Hard and Soft skills - Idioma</H1>
    <h2>Hard Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-12">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/html.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'CSS'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/CSS.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'JS'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/js.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 


    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'Python'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/python.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'PHP'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/php.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'mysql'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/mysql.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="70"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="20"
    [radius]="100"
    [showUnits]="false"
    [title]="'Ruby'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/ruby.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'red'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'django'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/django.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="50"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'codeigniter'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/codeigniter.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'Github'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/git.png'"
    [showImage]="true"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress>

</div>
</div>

<!-- Soft skill -->

<div class="row">
    <h1>Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-12 col-lg-12">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showUnits]="false"
    [title]="'Trabajo en equipo'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/html.png'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [title]="'Organización'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/CSS.png'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [title]="'Autonomia'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/js.png'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

</div>
</div>

<!-- Idioma -->


<div class="row">
    <h1>Idioma Ingles</h1>
    <div class="text-center col-sm-4 col-md-12 col-lg-12">
    <circle-progress
    [percent]="65"
    [radius]="100"
    [showUnits]="false"
    [title]="'Listening'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/listening.jpg'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="55"
    [radius]="100"
    [showUnits]="false"
    [title]="'Speeking'"
    [showTitle]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/speaking.png'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits]="false"
    [title]="'Reading & writing'"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/iconos/reading.png'"
    [showImage]="false"
    [imageWidth]="100"
    [imageHeight]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'green'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="1000"
    ></circle-progress> 

</div>
</div>
