<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/AcercaDe.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Marcelo Javier Martinez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit similique blanditiis architecto, omnis repudiandae consequatur excepturi necessitatibus ab consectetur sequi nulla earum, a quidem? Quis beatae obcaecati sed assumenda repudiandae.lore
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam blanditiis nam mollitia minima ab laboriosam eaque porro optio! Cupiditate quia eius, excepturi nulla id suscipit voluptas optio cum asperiores praesentium.
            </p>
        </span>
    </div>
</div>